@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,700;0,900;1,500&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Amatic+SC:wght@400;700&display=swap');
/* Обнуление страницы ---------------------------------------------------------------------------- */
* {
	padding: 0px;
	margin: 0px;
	border: 0px;
}
*,
*:before,
*:after {
	box-sizing: border-box;
}
:focus,
:active {
	outline: none;
}
a:focus,
a:active {
	outline: none;
}
html,
body {
	height: 100%;
}
body {
	line-height: 1;
	text-rendering: optimizeLegibility;
	-ms-text-size-adjust: 100%;
	-moz-text-size-adjust: 100%;
	-webkit-text-size-adjust: 100%;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}
input,
button,
textarea {
	font-size: inherit;
}
button {
	cursor: pointer;
	color: inherit;
	background-color: inherit;
}
a {
	color: inherit;
}
a:link,
a:visited {
	text-decoration: none;
}
a:hover {
	text-decoration: none;
}
ul li {
	list-style: none;
}
img {
	vertical-align: top;
}
h1,
h2,
h3,
h4,
h5,
h6 {
	font-weight: inherit;
	font-size: inherit;
}
/* ---------------------------------------------------------------------------------------- */
html,
body {
  height: 100%;
  font-family: "Montserrat", sans-serif;
  color: #fff;
  font-size: 16px;
}

.wrapper {
  display: flex;
  flex-direction: column;
  background-color: #fbab7e;
  background-image: linear-gradient(62deg, #fbab7e 0%, #f7ce68 100%);
  min-height: 100%;
  /* position: relative; */
}
.container {
  padding: 5px;
  max-width: 1200px;
  margin: 0 auto;
}
.header {
}

.logo__body {
  position: relative;
  display: flex;
  margin: 15px 10px;
}

.socials {
  margin: 0 auto;
  display: flex;
}
.socials__item1,
.socials__item2 {
  display: inline-block;
  padding: 0 10px;
}
.socials img {
  height: 50px;
  max-width: 100%;
  margin: 35px 10px;
}
.socials a,
.menu__list a {
  color: #fff;
  text-decoration: none;
  font-size: 20px;
  text-align: center;
  vertical-align: middle;
}
.gold-text {
  margin: 5px auto;
  color: #d3a614;
  font-family: "Montserrat", sans-serif;
  font-size: 100px;
  font-weight: 900;
  letter-spacing: 2px;
}
span img {
  height: 78px;
  vertical-align: baseline;
}

.menu__list {
}

.menu__item {
  display: inline-block;
  font-weight: 700;
  cursor: pointer;
}
.menu__item a:hover {
  color: #DBF227;
}

.menu {
}
.menu__list {
  background:  #005C53;
  border-radius: 10px;
  display: flex;
  margin: 15px 10px;
  padding: 5px;
  justify-content: space-around;
  font-size: 24px;
  list-style: none;
  text-transform: uppercase;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
}
.menu__item {
  margin: 5px;
}

.main {
  flex: 1 1 auto;
}
.gallery {
}
.gallery1 {
}
.swiper {
  width: 100%;
  height: 100%;
}
.swiper-wrapper {
}
.swiper-slide {
  padding: 30px 10px 10px 20px;
}
.swiper-slide__image {
  text-align: center;
}
.swiper-slide__image img {
  height: 100%;
  max-width: 100%;
  object-fit: cover;
  padding: 0 0 40px;
}
.swiper-pagination {
  padding: 20px 0px 20px 0px;
}
.swiper-button-prev {
  margin: 0px 10px;
}
.swiper-button-next {
}
.swiper-scrollbar {
  
}

.price {
  /* display: none; */
}
.price__body {
  max-width: 100%;
  margin: 10px;
}
.price__card-box {
  display: flex;
  justify-content: space-between;
  height: 50vh;
  color: #d3a614;
  font-weight: 700;
  text-align: center;
  font-family: 'Amatic SC', cursive;
  font-weight: 700;
  font-size: 30px;
}
.price__card {
  flex-wrap: wrap;
  border: 1px solid #000;
  border-radius: 10px;
  flex: 1 1 50%;
  margin: 10px;
  padding: 10px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
}
.price__image {
  width: 100%;
}
.price__image img {
  padding: 20px 0;
  max-width: 100%;
  border-radius: 50%;
  object-fit: cover;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
}

.sertificates {
}
.sertificates__body {
  width: 100%;
}
.sertificates__title {
  margin: 20px 10px;
  color: #d3a614;
  font-weight: 700;
  text-align: center;
  font-size: 40px; 
  font-family: 'Amatic SC', cursive;
  font-weight: 700;
}
.sertificates__cards-box {
  display: flex;
}
.sertificates__card {
  margin: 10px;
  padding: 5px;
  flex: 1 1 auto;
  height: 45%;
}
.sertificates__image img {
  width: 100%;
  height: 100%;
}


.footer {
  width: 100%;
  background: #042940;
  min-height: 100px;
  margin: 0 auto;
  color: #fff;
  justify-content: center;
  align-items: center;
}

.footer__body {
  display: flex;
}
.footer__item {
  margin: 20px;
  padding: 10px;
  flex: 1 1 33.333%;
}
.copyright {
  text-align: center;
  margin: 5px 10px;
  padding: 10px;
}

@media (max-width: 1125px) {
  .logo__body {
    flex-direction: column;
    margin: 10px 5px;
  }
  .socials img {
    max-height: 30px;
    max-width: 100%;
    margin: 15px 10px;
  }
  .gold-text {
    font-size: 50px;
  }
  span img {
    height: 38px;
    vertical-align: baseline;
  }
  .author {
    display: none;
  }
  .footer__body {
    flex-direction: column;
  }
  .footer__item {
    margin: 10px;
    padding: 0 10px;
  }
}
@media (max-width: 520px) {
  .menu {
    margin: 10px;
  }
  .menu__list {
    flex-direction: column;
    margin: 10px 0;
  }
  .menu__item {
    margin: 15px;
    font-size: 30px;
  }
}
@media (max-width: 380px) {
  .gold-text {
    font-size: 40px;
  }
  span img {
    height: 32px;
    vertical-align: baseline;
  }
  .sertificates__cards-box {
    flex-direction: column;
  }
  
}
/* Color Theme Swatches in Hex */
.Green-Globe-On-Moss---Environmental-Concept

-1-hex { color: #042940; }
.-2-hex { color: #005C53; }
-3-hex { color: #9FC131; }
-4-hex { color: #DBF227; }
-5-hex { color: #D6D58E; }

/* Color Theme Swatches in RGBA */
.Green-Globe-On-Moss---Environmental-Concept

-1-rgba { color: rgba(4, 40, 63, 1); }
-2-rgba { color: rgba(0, 91, 82, 1); }
-3-rgba { color: rgba(158, 193, 49, 1); }
-4-rgba { color: rgba(219, 242, 38, 1); }
-5-rgba { color: rgba(214, 212, 142, 1); }



